<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{{car.picture}}" class="card-img-top" alt="...">

            </div>
        </div>
        <div class="sol-sm-4 ">
            <div class="card-body">
                <h5 class="card-title">{{car.make}}</h5>
                <p class="card-text">Model: {{car.model}}, year: {{car.year}}</p>
                <p class="card-text">${{car.pricePerHour}} per hr, ${{car.pricePerWeek}} per week</p>
                <small>Location: {{car.location}}</small>
                <br>
            </div>
            <a href="/contactOwner/{{car.owner}}" class="btn btn-primary btn-1">Contact Owner</a>
            <br>
            <a href="/RentCar/{{car.id}}" class="btn btn-danger btn-1">Rent Now</a>
        </div>
    </div>
</div>